
/* Menu - cabeçalho */

/* Textos e mapa */
#local_1{
    min-height: 35rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("/img-teste/biopark.jpg");
    background-size:cover;
    background-position: center;
    padding: 2rem 10%;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: space-between;
    color:white;
    
}

#local_2{
    min-height: 35rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("/img-teste/biopark.jpg");
    background-size:cover;
    background-position: center;
    padding: 2rem 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-align:right;
    color:white;
}

#local_3{
    min-height: 35rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("/img-teste/biopark.jpg");
    background-size:cover;
    background-position: center;
    padding: 2rem 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color:white;
}

.mapa {
  width: 20rem;
  height: 9rem;
  overflow: hidden; /* esconde as bordas do iframe */
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: none;
}

.mapa iframe {
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events:none;
}
 
#local_2 .mapa { /* Ajuste o seletor para o nome que você usou no HTML */
    margin-left: auto; /* Empurra o mapa totalmente para a direita */
    display: block;
}

.conteudo_lateral small{
    display:block; /* small é inline */
    margin: 10px 0;
}

/* Rodapé */
